[Unit]
Description=Owlet Web App process
After=multi-user.target

[Service]
Type=simple
User=wcjohns
Group=wcjohns
WorkingDirectory=/path/to/OwletWebApp/
ExecStart=/path/to/OwletWebApp/build/OwletWebApp.wt  --docroot . --http-address 0.0.0.0 --http-port 8080 -c config/wt_config.xml --accesslog=-
Restart=on-failure

[Install]
WantedBy=multi-user.target
