[Unit]
Description=Owlet Data Aquisition
After=multi-user.target

[Service]
Type=simple
User=owlet
Group=owlet
WorkingDirectory=/usr/local/OwletWebApp/owletpy
ExecStart=/usr/bin/python3 get_data.py youremail@example.com your-password
Restart=always

[Install]
WantedBy=network-online.target
